* {
  font-family: 'Outfit', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: hsl(217, 54%, 11%);
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
section {
  width: 25rem;
  height: 37rem;
  border-radius: 1.2rem;
  background-color: hsl(216, 50%, 16%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
